<div class="img-container">
    <ul class="img-list">
      <li class="img-link">
        <a href="#">
          <img src="https://www.boreyangkorpalace.com/home/img/product/6233fd3343d41_twin.jpg" alt="home">
        </a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
      <li class="img-link">
        <a href="#"><img src="https://www.boreyangkorpalace.com/home/img/product/623d3da488a73_slide-show-1.jpg" alt="home"></a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="img-container">
    <ul class="img-list">
      <li class="img-link">
        <a href="#">
          <img src="https://www.boreyangkorpalace.com/home/img/product/6233fd3343d41_twin.jpg" alt="home">
        </a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
      <li class="img-link">
        <a href="#"><img src="https://www.boreyangkorpalace.com/home/img/product/623d3da488a73_slide-show-1.jpg" alt="home"></a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="img-container">
    <ul class="img-list">
      <li class="img-link">
        <a href="#">
          <img src="https://www.boreyangkorpalace.com/home/img/product/6233fd3343d41_twin.jpg" alt="home">
        </a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
      <li class="img-link">
        <a href="#"><img src="https://www.boreyangkorpalace.com/home/img/product/623d3da488a73_slide-show-1.jpg" alt="home"></a>
        <h3 class="name-home">TWIN PALACE</h3>
        <div class="detail-home">
          <h3 class="detail">Detail</h3>
          <p class="detial-list"><span class="span-num">1</span>Living room</p>
          <p class="detial-list"><span class="span-num">2</span>Living room</p>
          <p class="detial-list"><span class="span-num">3</span>Living room</p>
          <p class="detial-list"><span class="span-num">4</span>Living room</p>
          <p class="detial-list"><span class="span-num">5</span>Living room</p>
        </div>
      </li>
    </ul>
  </div>